/* Estilos para el botón verde */
.green-button {
    background-color: green;
    color: white;
  }
  
  /* Estilos para el botón azul */
  .blue-button {
    background-color: blue;
    color: white;
  }
  
  /* Estilos para el botón rojo */
  .red-button {
    background-color: red;
    color: white;
  }
  