<h2>Listado de Habitaciones</h2>
<ul>
  <li *ngFor="let habitacion of habitaciones">
    <h1>Habitacion: {{ habitacion.numero }}</h1>
    <h2>Dispositivos de la Habitación {{ habitacion.numero }}</h2>
    <ul>
      <li *ngFor="let dispositivo of habitacion.dispositivos">
        <h3>Tipo:</h3>
        <h4> {{ dispositivo.tipo }}</h4>
        <span [class]="dispositivo.estadoDispositivo === 1 ? 'dot green-dot' : 'dot gray-dot'"></span>
        {{ dispositivo.estadoDispositivo === 1 ? 'Encendido' : 'Apagado' }}
        <button>Apagar</button>
      </li>
    </ul>
  </li>
</ul>
