<div class="fondo">
  <h2 class="title">Dispositivos de la Habitación {{ habitacionNumero }}</h2>
  <div class="contenedor-hab">
    <div *ngIf="dispositivosObtenidos && dispositivosObtenidos.length > 0">
      <div id="habitacion" *ngFor="let dispositivo of dispositivosObtenidos">
        <h3>Tipo: {{dispositivo.tipo}}</h3>
        <span [class]="dispositivo.estadoDispositivo === 1 ? 'dot green-dot' : 'dot gray-dot'"></span>
        {{ dispositivo.estadoDispositivo === 1 ? 'Encendido' : 'Apagado' }}
        <button (click)="enviarDatos({dispositivo}, {habitacionNumero})" *ngIf="dispositivo.tipo !== 'sensor'" >Apagar</button>
      </div>
    </div>
    <div class="habitacion" *ngIf="!dispositivosObtenidos || dispositivosObtenidos.length === 0">
      <p>No se encontraron dispositivos en esta habitación.</p>
    </div>
  </div>
</div>